/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/
span {
  color: rgb(147, 90, 213);
  font-weight: 700;
}
h2{
  font-size: 2.7rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left:5%;
  margin-right: 5%;
  text-align: center;
  font-size: 1.5rem;
}
.propertiesSection ul li{
  list-style-type: none;
  font-size: 2rem;
  font-weight: 600;
}

.characterSection section {
  display: flex;
  flex-direction: row;
  width: 33.3%;
  justify-content: center;
  align-self: center;
  text-align: left;
}
footer{
  padding-bottom: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
